.content {
  font-size: 20px;
  padding: 4rem;
  line-height: 1.5;
  /* margin: 2rem auto;
  text-align: center; */
}

.content p {
  text-align: justify;
}

.content li {
  text-align: start;
}

.linkButton {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.linkButton:hover,
.linkButton:focus {
  background-color: #0056b3;
  color: white;
  outline: none;
}
